{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Strona główna{% endblock %}

{% block content %}
    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
        <div class="swiper-container images-carousel">
            <div class="swiper-wrapper">
                {% for gallery in galleries %}
                    <div class="swiper-slide">
                        <div class="image-wrap">
                            <div class="image-info">
                                <h2 class="mb-3">{{ gallery.name }}</h2>
                                <a href="{{ path('gallery_show', {'slug': gallery.slug}) }}" class="btn btn-outline-white py-2 px-4">Zobacz galerię</a>
                            </div>
                            <img src="/images/gallery/{{ gallery.directory }}/label/{{ gallery.picture }}" alt="{{ gallery.name }}">
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
{% endblock %}
