{% extends 'admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="card-body">
                        <h4 class="card-title">Strona kategorii</h4>
                        <p class="card-description">Lista</p>
                        <a href="" class="btn btn-success btn-rounded btn-fw mb-4"><i class="icon icon-plus"></i> Dodaj nową</a>
                        {% if categories %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>Obrazek wyróżniający</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td>{{ category.name }}</td>
                                    <td><img src="/images/categories/{{ category.picture }}" alt="{{ category.name }}" class="img-fluid w-25" /></td>
                                    <td>
                                        {% if category.isVisible %}
                                            <label class="badge badge-success">Widoczna</label>
                                        {% else %}
                                            <label class="badge badge-danger">Niewidoczna</label>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>Brak kategorii</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
