{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{ gallery.name }}{% endblock %}

{% block opengraph %}
    {{ parent() }}
    <meta property="og:image" content="{{ config.siteAddress }}/images/gallery/{{ gallery.directory }}/{{ galleryItems[0].picture }}">
{% endblock %}

{% block content %}
    <div class=""  data-aos="fade">
        <div class="container-fluid">

            <div class="site-section"  data-aos="fade">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <div class="row mb-5">
                                <div class="col-12 ">
                                    <h2 class="site-section-heading text-center">{{ gallery.name }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="lightgallery">
                        {% for galleryItem in galleryItems %}
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="/images/gallery/{{ gallery.directory }}/{{ galleryItem.picture }}" data-sub-html=" ">
                            <a href="#"><img src="/images/gallery/{{ gallery.directory }}/{{ galleryItem.picture }}" alt="{{ gallery.directory }}" class="img-fluid"></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
