<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">

            <link rel="stylesheet" href="{{ asset('assets/fonts/icomoon/style.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/lightgallery.min.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/fonts/flaticon/font/flaticon.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/swiper.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/aos.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}

    </head>
    <body>
        {% block body %}
            <div class="site-wrap">

                <div class="site-mobile-menu">
                    <div class="site-mobile-menu-header">
                        <div class="site-mobile-menu-close mt-3">
                            <span class="icon-close2 js-menu-toggle"></span>
                        </div>
                    </div>
                    <div class="site-mobile-menu-body"></div>
                </div>


                <header class="site-navbar py-3" role="banner">

                    <div class="container-fluid">
                        <div class="row align-items-center">

                            <div class="col-6 col-xl-2" data-aos="fade-down">
                                <h1 class="mb-0"><a href="{{ path('index') }}" class="text-black h2 mb-0">Foto-Sylwia</a></h1>
                            </div>
                            <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
                                <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
                                    <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">

                                        <li {% if app.request.get('_route') == 'index' %}class="active"{% endif %}><a href="/">Strona główna</a></li>
                                        <li {% if app.request.get('_route') == 'about' %}class="active"{% endif %}><a href="/about">O mnie</a> </li>
                                        <li {% if app.request.get('_route') == 'achievements' %}class="active"{% endif %}><a href="/achievements">Osiągnięcia</a></li>
                                        <li {% if app.request.get('_route') == 'pricing' %}class="active"{% endif %}><a href="/pricing">Cennik</a></li>
                                        <li {% if app.request.get('_route') == 'gallery' %}class="active"{% endif %}><a href="/gallery">Galeria</a></li>
                                        <li {% if app.request.get('_route') == 'contact' %}class="active"{% endif %}><a href="/contact">Kontakt</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
                                <div class="d-none d-xl-inline-block">
                                    <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                                        <li>
                                            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                            </div>

                        </div>
                    </div>

                </header>

                {% block content %}
                    {#Page Content must be override in other view which extends base.html.twig#}
                {% endblock %}

                <div class="footer py-4">
                    <div class="container-fluid text-center">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Wszelkie prawa zastrzeżone | Strona utworzona przez <a href="https://dgdev.pl" target="_blank" >DGDEV.PL</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-migrate-3.0.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.stellar.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.countdown.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
            <script src="{{ asset('assets/js/swiper.min.js') }}"></script>
            <script src="{{ asset('assets/js/aos.js') }}"></script>

            <script src="{{ asset('assets/js/picturefill.min.js') }}"></script>
            <script src="{{ asset('assets/js/lightgallery-all.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.mousewheel.min.js') }}"></script>

            <script src="{{ asset('assets/js/main.js') }}"></script>

            <script>
                $(document).ready(function(){
                    $('#lightgallery').lightGallery();
                });
            </script>
        {% endblock %}
    </body>
</html>
